@tailwind base;
@tailwind components;
@tailwind utilities;
.back {
  content: "";
  position: absolute;
  width: 170%;
  height: 170%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url('/background.webp');
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: rotateMoveInfinity 50s linear infinite;
}

@media screen and (max-width: 768px){
  .back {
    display: none ;
  }
  
}

@keyframes rotateMoveInfinity {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}